@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    background-color: #f0ede8;
}

:root {
    /*   color variables for Around Lanka css cards */
    --clr-primary: rgb(255, 219, 0);
    --clr-primary-hover: #29e6a7;
    --clr-primary-dark: #039d69;
    --clr-gray100: #f0f7f8;
    --clr-gray200: #cfd8dc;
    --clr-gray300: #a7b7be;
    --clr-gray400: #6b7e86;
    --clr-gray500: #425a65;
}

body {
    min-height: 200vh;
}

nav {
    font-family: 'Inter', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 10000;
    color: rgb(255, 219, 0);
    background-color: #064265;
    ;
}

/*--------Sticky Navbar------------*/
.sticky {
    padding: 5px 100px;
    background: #064265;
}

/*Sri lanka(Left nav)*/
.logo {
    font-family: 'Cookie', cursive;
    position: relative;
    font-weight: 700;
    color: rgb(255, 219, 0);
    text-decoration: none;
    font-size: 4em;
    letter-spacing: 2px;
    transition: 0.6s;
}

nav ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    position: relative;
    list-style: none;
}

/*Destinations Plans Tours(right nav)*/
nav ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: rgb(255, 219, 0);
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}

/*underline after effect Navbar*/
nav ul li a:after {
    content: "";
    position: absolute;
    background-color: #fff;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -12px;
    transition: 0.4s;

}

/*------Applied underline effect Navbar------*/
nav ul li a:hover:after {
    width: 100%;
    color: rgb(255, 219, 0);
    transition: 0.5s;
}

/*---------Sticky Navbar Text--------*/
.sticky ul li a,
.sticky .logo {
    color: rgb(255, 219, 0);
}

/*underline style*/
.sticky ul li a:after {
    content: "";
    position: absolute;
    color: rgb(255, 219, 0);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -12px;
    transition: 0.4s;

}

.sticky ul li a:hover {
    color: yellow;
}

/*--------Applied Underline Effect---------*/
.sticky ul li a:hover:after {
    width: 100%;

}

/*============= Footer Section =============*/

footer {
    padding: 40px 0;
    font-family: 'Segoe UI';
    font-weight: 400;
    background-color: #064265;
}

footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: white
}

footer .social .app {
    font-size: 24px;
    color: inherit;
    border: 1px solid white;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}

footer .social .app:hover {
    opacity: 0.9;
}

footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 0;
    color: white;
}

footer ul li a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

footer ul li {
    display: inline-block;
    padding: 0 15px;
}

footer ul li a:hover {
    opacity: 1;
}

footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: rgb(255, 219, 0);
}

/*--------------- BLOG -------------*/

.blog {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 15rem;
    height: 200;
    width: 200;
}

.sub-title {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

.watermark {
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    color: gray;
}

.place {
    padding-top: 50px;
    text-align: center;
    line-height: 1.6;
}

img {
    height: 500px;
    width: 800px;
    margin: auto;
    padding-bottom: 20px;
}

p {
    display: block;
    padding-top: 20px;
    margin-block-start: 0em;
    margin-block-end: 1em;
    margin-inline-start: 345px;
    margin-inline-end: 350px;
}